.address {
  padding: 100px 0 215px 0;
}

.address-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.address-info__phone {
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 48px;
  line-height: 77px;
  text-decoration: underline;
  color: #292D33;
}

.address-info__street {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #292D33;
}

.address-info__mail {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #292D33;
}

.address-info__socials {
  display: flex;
  gap: 24px;
}

.address-info__socials-link {
  line-height: 0;
}

