.aerosol-products {
  padding-top: 150px;
  margin-bottom: 150px;
}

.aerosol-products__container {
  display: flex;
}

.container {}

.aerosol-products__info {
  max-width: 50%;
}

.title {}

.aerosol-products__list {
  max-width: 670px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 24px;
}

.aerosol-products__item {
  display: flex;
  gap: 25px;
  align-items: center;
}

.aerosol-products__svg {
  width: 30px;
  height: 24px;
}



.aerosol-products__brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
}

.aerosol-products__image {
  padding: 45px 85px;
  border: 1px solid #EBEBF0;
}

.aerosol-products__img {}

.aerosol-products__img {
  filter: grayscale(1);
}

.aerosol-products__img:hover {
  filter: grayscale(0);
}

@media(max-width: 1450px) {
  .aerosol-products {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .aerosol-products__container {
    flex-direction: column;
  }

  .aerosol-products__info {
    max-width: 100%;
  }

  .aerosol-products__list {
    grid-template-columns: 1fr;
  }

  .aerosol-products__brands {
    grid-template-columns: repeat(2, 1fr);
  }
  .aerosol-products__brands .aerosol-products__image:last-child {
    display: none;
  }
  .aerosol-products__image {
    padding: 30px 38px;
    text-align: center;
  }
  

}