.blog {
  margin-bottom: 200px;
}

.blog__slider {
  margin-bottom: 30px;
}
.blog__wrapper {
  display: flex;
  /* gap: 30px; */
  
}

.blog__slider-item {
  position: relative;
}

.blog__img {}

.blog__box {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
}

.blog__slider-title {
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 10px;
}

.blog__slider-text {

}

.blog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__link {

}
.blog__btns {
  display: flex;
  align-items: center;
}
.blog__btn-left {
  transition: background 0.3s;
  padding: 22px 18px 22px 31.5px;
  background:  #5C8EE6;
}
.blog__btn-left:hover {
  background:  #dc19cf;
}
.blog__btn-right {
  transition: background  0.3s;
  background:  #5C8EE6;
  padding: 22px 31.5px 22px 18px;
}
.blog__btn-right:hover {
background-color: #77b530;
}

.blog__link {
  transition: color 0.3s;
  position: relative;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 26%;
  color: #828A99;
  padding-left: 60px;
}

.blog__link:hover {
  color: #5C8EE6;
}

.blog__link::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  height: 1px;
  width: 40px;
  background: #828A99;
  transition: background 0.3s;
}

.blog__link:hover::before {
  background: #5C8EE6;
}


