.brand {
  padding-top: 150px;
}

.brand_padding {
  padding-bottom: 224px;
}
.container {}

.title {
  
}

.brand__list {
  display: flex;
  flex-wrap: wrap;
}

.brand__item {
  max-width: 720px;
  width: 100%;
  padding: 50px;
  display: flex;
  border: 1px solid #EBEBF0;
  align-items: center;
  transition: border-color 0.5s;
}

.brand__img {
  width: 140px;
  height: 120px;
  transition: fill 0.5s;
  margin-right: 70px;
  line-height: 0;
  fill: #828A99;
}
.brand__item:hover {
  border-color: #5C8EE6;
}


.brand__item:hover .brand__img {
  fill:  #5C8EE6;
}
.brand__item:hover .brand__title {
  color:   #5C8EE6;
}
.brand__item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand__title {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 45px;
  color: #292D33;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.brand__text {
  max-width: 360px;
}


@media(max-width: 540px) {
 .brand {
  padding-top: 100px;
 }

 .brand__item{
  flex-direction: column;
  position: relative;
  padding: 30px;
  align-items: flex-start;
 }
 .brand__img {
  margin: 0;
  margin-bottom: 36px;
  margin-left: 15px;
  width: 85px;
  height: 67px;
 }

 .brand__title{
  position: absolute;
  top: 13px;
  right: 43px;
  max-width: 147px;
  font-size: 20px;
  line-height: 26px;
  

 }
 .brand__title-mobile {
  display: none;
 }
 .brand__item-box {

 }
 .brand__text {
  max-width: 100%;
  font-size: 14px;
  color: #828A99;
  line-height: 22px;
 }
}