.contacts {
  background-color: #F0F2F5;

}

.contacts__content {
  display: flex;
  gap: 120px;
}

.contacts__image {
  margin-top: -80px;

}

.contacts__img {
  height: auto;
  /* max-width: 100%; */
}

.contacts__info {
  max-width: 860px;
  padding-top: 100px;
}

.contacts__title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #292D33;
  margin-bottom: 20px;
}

.contacts__text {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828A99;
  max-width: 640px;
  margin-bottom: 42px;
}

.contacts__form-box {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.contacts__group {

  width: 100%;
  position: relative;
}

.contacts__input {
  width: 100%;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828A99;
  padding: 20px 30px;
  border: 1px solid #E4E4EB;
  outline: none;
  background-color: transparent;
}

.contacts__input-name {
  transition: all 0.8s;
  pointer-events: none;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828A99;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 30px;
  /* background-color: green */
}

.contacts__input:focus {
  border: 1px solid #5C8EE5;
}

.contacts__input:focus~.contacts__input-name,
.contacts__input:valid~.contacts__input-name {
  font-size: 10px;
  line-height: 16px;
  left: 10px;
  top: -9px;
  padding: 0 10px;
  background: #F0F2F5;
  color: #5C8EE5;
}

.contacts__footer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__btn {
  transition: background-color 0.8s;
  cursor: pointer;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: #5C8EE6;
  color: #fff;
  max-width: 235px;
  width: 100%;
  padding: 20px 0;
}

.contacts__btn:hover {
  background-color: #0a1323;
}

.contacts__inform {
  position: relative;
  padding-left: 24px;
  max-width: 403px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #828A99;
  cursor: pointer;
  user-select: none;
}

.contacts__checkbox {
  appearance: none;
}

.contacts__custom-checkbox {
  position: absolute;
  left: 0;
  top: 5px;
  transition: fill 0.5;
  width: 12px;
  height: 12px;
  fill: #828A99;
}

.contacts__checkbox:checked+.contacts__custom-checkbox {
  fill: green;
}
@media(max-width: 1700px) {
  .contacts {
    padding: 0 10px;
  }
  .contacts__content{
    gap: 0;
  }
  .contacts__form-box {
    flex-direction: column;
  }

}

@media (max-width: 1200px) {
  .contacts__content {
    display: flex;
    justify-content: center;
  }
  .contacts__img {
    display: none;
  }
}

@media (max-width: 520px) {
  .contacts__info{ 
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contacts__title {
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 43px;
}
  .contacts__text { 
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .contacts__form-box{
    margin-bottom: 10px;
  }
  .contacts__footer {
    flex-direction: column;
    align-items: normal;
  }

  .contacts__btn {
    max-width: 100%;
  }
} 