.expert {
  padding-top: 100px;
}

.expert__content {
  display: flex;
  margin-bottom: 100px;
}

.expert__img {
  margin-right:120px ;
}

.expert__box {
  padding-top: 50px;
}

.expert__title {
  max-width: 600px;
  margin-bottom: 20px;
}


@media(max-width: 1200px) {
  .expert__content {
    max-width: 375px;
    flex-direction: column;
    margin: 0 auto;
  }
  .expert__img {
    margin-right: 0;
  }

}