.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  display: flex;
  padding-left: 50px;
  min-height: 94px;
  align-items: center;
  border-bottom: 1px solid rgba(235, 235, 240, 0.9);
  
}
.header__logo {
  margin-right: 100px;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.header__contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header__phone {
/* position: relative; */
font-family: 'Noto Sans';
font-weight: 600;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
margin-left: 10px;
/* padding-left: 34px; */

}
/* .header__phone::after {
  position: absolute;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: centr;
  background-size: cover;
} */

.header__btn {
  min-height: 94px;
  background: none;
  background-color: #5C8EE6;
  height: 100%;
  padding: 0 50px;
  font-weight: 600;
  color: #fff;
  margin-left: 50px;
}