.news {
  padding-top: 150px;
  padding-bottom: 200px;
}

.news__container {
  display: flex;
  justify-content: space-between;
}

.sub-header_bg .breadcrumbs__link {
  color: #fff;
}
.news__content {
  max-width: 960px;
}
.sub-header__title_white{
  color: #fff;
}
.news-content__title {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}


.news-content__text {
  margin-bottom: 50px;
}

.news-content__title_medium {
  font-size: 28px;

}

.news-content__text_mb {
  margin-bottom: 20px;
}

.news-content__img {
  margin-bottom: 50px;
}

.news-content__title-small {
  font-size: 20px;
}

.news-content__list {
  margin-bottom: 50px;
}

.news-content__item {
  position: relative;
  padding-left: 31px;
  margin-bottom: 10px;
}

.news-content__item:last-child {
  margin-bottom: 0;
}

.news-content__item::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 0;
  width: 15px;
  height: 1.5px;
  background-color: #5C8EE6;
}

.news-content__list_number .news-content__item::before {
  content: "01.";
  width: 0;
  height: 0;
  top: 0;
  color: #5C8EE6;
}

.news-content__list_number .news-content__item:nth-child(2):before {
  content: "02.";
}

.news-content__list_number .news-content__item:nth-child(3):before {
  content: "03.";
}

