.blog-list__pagination {
  margin-left: auto;
}
.pagination {
  display: flex;
}


.pagination__item {}


.pagination__link {
  padding: 12px 20px;
  font-family: 'Noto Sans';
  font-weight: 600;
  text-align: center;
  color: #292D33;
  border: 1px solid transparent;
}



.pagination__link.active {
  border-color: #5C8EE6;
  color: #5C8EE6;
}