.premium {
  padding: 100px 0;
  background-color: #F0F2F5;
  background-image: url(../img/tech/tech-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.premium__title {
  max-width: 720px;
  margin-bottom: 20px;
}

.premium__description {
  color: #828A99;
  max-width: 720px;
  margin-bottom: 30px;
}

.premium__list {
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.premium__item {
  display: flex;
  gap: 20px;
  max-width: 310px;
  width: 100%;
}

.premium__item {}

.premium__text {}

.premium__btn {
  display: inline-flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  background-color: #5C8EE6;
  padding: 25px 62px;
  transition: opacity 0.5s;
}

.premium__btn:hover {
  opacity: 0.9;
}