.product {
  padding-top: 150px;
}

.product__container {
  padding-bottom: 100px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  transition: border-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  max-width: 480px;
  border: 2px solid #EBEBF0;
}

.product__item:hover {
  border-color: #5C8EE6;
}

.product__item:hover .product__title {
  color: #5C8EE6;
}

.product__info {
  padding-left: 50px;
}

.product__title {
  transition: color 0.3s;
  font-weight: 400;
  font-size: 28px;
  line-height: 45px;
  color: #292D33;
  margin-bottom: 10px;
}

.product__text {
  max-width: 310px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828A99;
  margin-bottom: 120px;
}


.product__seo {
  padding-top: 100px;
  padding-bottom: 100px;
}

.seo {}

.seo__title {
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 10px;
}

.seo__text {
  color: #828A99;
  margin-bottom: 20px;
}

.seo__link {
  line-height: 26px;
  color: #5C8EE6;
}

.seo__icon {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}