@import url("./reset.css");
@import url("./header.css");
@import url("./banner.css");


body {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  line-height: 26px;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}