.work {}

.work__container {
  padding-top: 150px;
}

.work__title {
  margin-bottom: 50px;
}

.title {}

.work__list {
  display: flex;
  gap: 30px;
  
  
}

.work__item {
  max-width: 330px;
}

.work__item-box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.work__number {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #5C8EE6;
}

.work__decor {
  height: 1px;
  background: #EBEBF0;
  width: 100%;
}

.work__item-title {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 45px;
  color: #292D33;
  margin-bottom: 10px;
}

.work__item-text {
  margin-bottom: 20px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828A99;
}

.work__button {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.9xs;
}

.work__button-decor {
  height: 1px;
  width: 40px;
  background: #5C8EE6;

}

.work__link {
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #5C8EE6;
}

.work__item:hover .work__button {
  opacity: 1;
}